body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    margin: 40px 0;
}
header {
    text-align: center;
    font-weight: 700;
}
header p {
    font-weight: 300;
}
#img-div {
    background: white;
    padding: 10px;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
#img-caption {
    text-align: center;
}
ul {
    max-width: 50%;
    margin: 0 auto;
}
ul li {
    line-height: 1.7;
}
#tribute-info {
    margin: 0 auto;
}
#tribute-info h2 {
    padding: 40px 0;
    text-align: center;
}
span {
    font-weight: 700;
}
blockquote {
    padding: 5px 0;
    font-style: italic;
    text-align: center;
}
footer {
    text-align: center;
    font-weight: 700;
    font-size: 130%;
}